<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="friend">
  
  <select id="FriendFeed" resultType="FriendVo">
	SELECT
	    F.FRIEND_NO
	    , F.WRITER
	    , F.TITLE
	    , F.CONTENT
	    , F.ENROLL_DATE
	    , F.DELETE_YN
	    , F.EDIT_DATE
	    , F.LOCATION_NO 
	    , L.LOCATION_NAME as locationName
	    , M.NAME as writerName
	FROM FRIEND F
	LEFT JOIN LOCATION L ON (F.LOCATION_NO = L.LOCATION_NO)
	LEFT JOIN MEMBER M ON (F.WRITER = M.NO)
	WHERE F.DELETE_YN = 'N'
	
  </select>
  
  <insert id="write">
 	INSERT INTO FRIEND
 	(
 		FRIEND_NO
 		, TITLE
 		, WRITER
 		, CONTENT
 		, LOCATION_NO
 	)
 	VALUES
 	(
 		SEQ_FRIEND_NO.NEXTVAL
 		,#{title}
 		,#{writer)
 		,#{content}
 		,#{locationNo}
 	)
  </insert>
  
  <select id="FriendWrite" resultType="FriendVo">
  	SELECT
  		F.FRIEND_NO
		, F.WRITER
		, F.TITLE
		, F.CONTENT
		, F.LOCATION_NO
		, L.LOCATION_NAME as locationName
		, M.NAME as writerName
	FROM FRIEND F
	LEFT JOIN LOCATION L ON (F.LOCATION_NO = L.LOCATION_NO)
	LEFT JOIN MEMBER M ON (F.WRITER = M.NO)
	WHERE F.DELETE_YN = 'N'
  </select>
  
</mapper>