#empty-div-for-padding {
    padding-left: 10px;
    padding-right: 10px;
}

.dashboard-outer {
    padding-top: 200px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    /*justify-content: space-around;*/
}



.dashboard {
    width: 50vw;
    height: 500px;
    border-radius: 0.4em;
    box-shadow: 0.3em 0.3em 0.7em #00000015;
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: rgb(250, 250, 250) 0.2em solid;
}

.dashboard:hover {
    border: #006fff 0.2em solid;
}

.inside-card {
    display: flex;
    justify-content: center;
}
.dashboard-text {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

/*페이지 넘기기*/
.pagination-area {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination-area a {
    padding-left: 5px;
    padding-right: 5px;
}

/*테이블 꾸미기*/
.table-tag {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table-tds, .table-ths {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

.table-ths {
    background-color: #4CAF50;
    color: white;
}

.table-trs:nth-child(even) {
    background-color: #f2f2f2;
}

.check-all {
    margin-left: 10px;
}

input[type=checkbox] {
    transform: scale(1.5);
}

/*대쉬보드끼리 패딩*/
/*#member-dashboard {*/
/*    padding-right: 50px;*/
/*}*/
/*#some-dashboard {*/
/*    padding-left: 10px;*/
/*}*/

/* pagenation */
.pagination-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

/* 밑에 페이지 숫자 색 css */
.pagination-custom .page-numbers {
    border: none;
    color: #555555;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
    padding: 6px 10px;
    transition: background-color 0.2s ease;
}

/* 현재 페이지 숫자 css */
.pagination-custom .current {
    color: #ffffff;
    cursor: default;
}

.pagination-custom .page-numbers:hover {
    color: #4CBB17;
}