/* 라벨과 입력태그들 사이에 간격 벌리기 */
table tr td {
	padding-right: 20px;
}

/* 성별 선택 radio 사이에 간격 벌리기 */
#Female, #Male {
	margin: 0px 25px;
}

/* join창 전체  */
.form-container {
	width: 510px;
	padding: 33px 0px 49px 30px; 
}

/* 전체 창과 컨텐트 사이의 좌우 간격 맞춤 */
.form {
	margin-left: 20px;
}

/* select 태그 배경색상,글자색상 검정으로 */
.location_option {
	background-color: #232121;
	color: #ffffff;
}

/* gender, location 버튼 위아래 간격 떨어뜨림 */
.selections {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* 로그인창 가운데로 오도록 */
#whole {
	height: 100vh;
	margin-top: 2%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* join-button 버튼 눌렀을 때 연한 색깔로 변경*/
#join-button:hover {
	background-color: #1eb154;
}

/* ==================== 원본 ==================== */

.form-container {
	/* width 위에다가 수정함 */
	border-radius: 0.75rem;
	background-color: rgb(35, 33, 33);
	color: rgba(243, 244, 246, 1);
}

.title {
	text-align: center;
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 700;
}

.form {
	margin-top: 1.5rem;
	margin-left: 25px;
}

.input-group {
	margin-top: 0.8rem;
	font-size: 1rem;
	line-height: 1.25rem;
}

.input-group label {
	display: block;
	color: rgb(255, 255, 255);
	margin-bottom: 4px;
}

.input-group input {
	width: 100%;
	border-radius: 0.375rem;
	border: 1px solid rgb(83, 83, 84);
	outline: 0;
	background-color: rgb(51, 50, 50);
	padding: 0.75rem 1rem;
	color: rgba(243, 244, 246, 1);
}

.input-group input:focus {
	border-color: #078735;
}

.forgot {
	display: flex;
	justify-content: flex-end;
	font-size: 0.75rem;
	line-height: 1rem;
	color: rgba(156, 163, 175, 1);
	margin: 8px 0 14px 0;
}

.forgot a,
.signup a {
	color: rgba(243, 244, 246, 1);
	text-decoration: none;
	font-size: 14px;
}

.forgot a:hover,
.signup a:hover {
	text-decoration: underline #ffffff;
}

#join-button {
	display: block;
	width: 100%;
	background-color: #078735;
	padding: 0.75rem;
	text-align: center;
	color: rgb(255, 255, 255);
	border: none;
	border-radius: 0.375rem;
	font-weight: 600;
}

.social-message {
	display: flex;
	align-items: center;
	padding-top: 1rem;
}

.line {
	height: 1px;
	flex: 1 1 0%;
	background-color: rgba(55, 65, 81, 1);
}

.social-message .message {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: rgba(156, 163, 175, 1);
}

.social-icons {
	display: flex;
	justify-content: center;
}

.social-icons .icon {
	border-radius: 0.125rem;
	padding: 0.75rem;
	border: none;
	background-color: transparent;
	margin-left: 8px;
}

.social-icons .icon svg {
	height: 1.25rem;
	width: 1.25rem;
	fill: #fff;
}

.signup {
	text-align: center;
	font-size: 0.75rem;
	line-height: 1rem;
	color: rgba(156, 163, 175, 1);
}