/* CSS추가 */
/* social login 영역 */
.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: rgba(55, 65, 81, 1);
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(156, 163, 175, 1);
}

.social-icons {
  display: flex;
  justify-content: center;
	margin-right: 25px;
}

.social-icons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 15px;
}

.social-icons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: #fff;
}

/* forgot영역 */
.forgot {
  display: flex;
	gap: 0 10px;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175,1);
  margin: 8px 0 14px 0;
}

.forgot a {
  color: rgba(243, 244, 246, 1);
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover {
  text-decoration: underline rgba(167, 139, 250, 1);
}

#passwordLabel {
	margin-top: 15px;
}


/* 로그인 버튼 디자인 */ 
.sign-button {
	display: block;
	width: 100%;
	background-color: #078735;
	padding: 0.75rem;
	text-align: center;
	color: rgb(255, 255, 255);
	border: none;
	border-radius: 0.375rem;
	font-weight: 600;
	margin-top: -10px;
}

/* 로그인창 가운데로 오도록 */
#wrap {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* sign-button 버튼 눌렀을 때 연한 색깔로 변경*/
.sign-button:hover {
	background-color: #1eb154;
}

/* ========== 원본========== */

.form-container {
	margin-top: 100px;
	width: 320px;
	border-radius: 0.75rem;
	background-color: rgb(35, 33, 33);
	padding: 2rem;
	color: rgba(243, 244, 246, 1);
}

.title {
	text-align: center;
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 700;
}

.form {
	margin-top: 1.5rem;
}

.input-group {
	margin-top: 0.25rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
}

.input-group label { 
	display: block;
	color: rgb(255, 255, 255);
	margin-bottom: 4px;
}

.input-group input {
	width: 100%;
	border-radius: 0.375rem;
	border: 1px solid rgb(83, 83, 84);
	outline: 0;
	background-color: rgb(51, 50, 50);
	padding: 0.75rem 1rem;
	color: rgba(243, 244, 246, 1);
}

.input-group input:focus {
	border-color: #078735;
}

.forgot {
	display: flex;
	justify-content: flex-end;
	font-size: 0.75rem;
	line-height: 1rem;
	color: rgba(156, 163, 175, 1);
	margin: 8px 0 14px 0;
}

.forgot a,
.signup a {
	color: rgba(243, 244, 246, 1);
	text-decoration: none;
	font-size: 14px;
}