
.tot {
    /* display: flex; */
    width: 700px;
    margin: 0 auto;
}
.mypage {
    background-color: #FCECD3;
    padding: 1px;
    text-align: center;
    margin: 10px auto 50px;
}
/* 프로필 사진 변경 */
.profileimg {
    display: none;
}
/* 프로필 */
.iSide a {
    color: black;
    text-decoration: none;
    line-height: 5px;
}
.profile {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0px 25px;
    margin-top: 40px;
    padding-bottom: 25px;
}
.img img {
    width: 100%;
    height: 100%;
}
.img {
    width: 150px;
    height: 150px;
}
.imgPro {
    /* display: none; */
    width: 120px;
    height: 120px;
    border-radius: 50%; /* 사진 동그랗게 */
}
#grade a {
    color: rgb(92, 121, 92);
}
#grade {
    margin: -15px 0px -5px 10px;
}
/*  */
.rarrow {
    width: 12px;
    height: 12px;
}
/* 리뷰 그래프 영역 */
.gradename {
    color: white;
    margin-top: -10px;
    text-align: center;
}
.gradeBox {
    height: 100px;
    /* background-color: #FBA92C; */
    background-color: #f4ad44;
    margin: 0 0; /*box 바깥 영역*/
    padding: 20px 40px 30px; /*box 안쪽 영역(위오아왼)*/
    border-radius: 10px;
}
.barGraph {
    width: 620px;
    height: 30px;
    /* background-color: lightgray; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.barBox {
    margin-top: 15px;
}
.label {
    flex: 1;
    text-align: center;
    font-size: 12px;
    height: 7px;
    border: 1px solid #9E9E9E;
    background-color: #9E9E9E;
}
.label1 {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.label3 {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.barName {
    width: 620px;
    height: 22px;
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 13px;
}
.quarter0 {
    position: absolute;
    left: 0%;
}
.quarter1 {
    position: absolute;
    left: 31%;
}
.quarter2 {
    position: absolute;
    left: 64%;
}
.quarter3 {
    position: absolute;
    left: 97%;
}
/* 리뷰 / 댓글 / 신고 영역 */
.box .line {
    font-size: 22px;
}
.box1-1 {
    margin-left: 45px;
}
.box1-3 {
    margin-right: 45px;
}
.tot .box {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr 1fr 3fr;
    text-align: center;
    align-items: center;
    height: 75px;
    border-radius: 10px;
    background-color: rgb(236, 235, 235);
    margin: 25px 0px 40px;
}
.box1 a, .box2 a {
    color: black;
    text-decoration: none;
}
/* 스크랩 */
.scraptext {
    text-align: center;
}
.scrapbox {
    display: flex;
    height: 300px;
    margin: -25px 0px -20px;
    gap: 0px 20px;
    justify-content: center;
    align-items: center;
}
.scrapbox {
    display: flex;
    flex-wrap: nowrap;
}
.scrapbox2, .scrapbox3 {
    display: none;
}
.scrap1 {
    width: 220px;
    height: 250px;
    background-color: rgb(236, 235, 235);
}
.scrap2 {
    width: 220px;
    height: 250px;
    background-color: rgb(236, 235, 235);
}
.scrap3 {
    width: 220px;
    height: 250px;
    background-color: rgb(236, 235, 235);
}
.more {
    text-align: center;
}
.more button {
    background-color: transparent;
    border: none;
}
.more button:hover {
    cursor: pointer;
}
/* 스크랩한 게시물 */
.scrapWrap {
    /* box-sizing: border-box; */
    margin: 10px 15px;
}
.scrapTop {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 60px;
}
.scrapImg1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.scrapName h6 {
    margin-top: -23px;
    font-weight: 500;
}
.scrapReviewImg1 {
    width: 190px;
    height: 120px;
}
.score {
    display: flex;
    height: 30px;
    gap: 7px;
    margin-top: 5px;
}
.starAvg, .good, .bad {
    width: 20px;
    height: 20px;
}
.score h5 {
    margin-top: 2px;
}
.updown, .goodbox, .badbox {
    display: flex;
    justify-content: end;
    gap: 3px;
}
.updown {
    gap: 10px;
    margin-top: -8px;
}
.goodnum, .badnum {
    margin-top: -21px;
}
/* 프로필 이름 버튼 */
.cta {
    position: relative;
    margin: auto;
    padding: 10px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}
.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    /* background: #b1dae7; */
    background: #bacde3;
    width: 40px;
    height: 42px;
    transition: all 0.3s ease;
}
.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 17px;
    font-weight: 1000;
    letter-spacing: 0.05em;
    color: #2e394a;
}
.cta svg {
    position: relative;
    top: 0;
    margin-left: 5px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #2e394a;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}
.cta:hover {
    cursor: pointer;
}
.cta:hover:before {
    width: 100%;
    background: #bacde3;
}
.cta:hover svg {
    transform: translateX(0);
}
.cta:active {
    transform: scale(0.95);
}

