h5 {
 color: lightskyblue;
}
 /* QNA 상세페이지 몸통 */
#detail-area {
   width: 600px;
   margin: auto;
   display: grid;
   grid-template-columns: repeat(2, 150px 200px);
   grid-template-rows: 30px 30px 250px;
}



#detail-area > div:not (:nth-child(2), :last-child) {
   text-align: center;
}


#detail-area > div:nth-child(2), #detail-area > div:last-child {
   grid-column: span 3;
}


#detail-area > div {
   /* border: 1px solid gray; */
}

#detail-area input, #detail-area textarea {
   width: 96%;
   height: 80%;
   resize: none;
   overflow: hidden;

}

.view-area {
   display: none;
   color: white;
   margin-top: 15%;
   margin-bottom: 5%;
}

.form-area1 {
   display: none;
   color: white;
   margin-top: 15%;
   margin-bottom: 5%;
}
.form-area2 {
   display: none;
   color: white;
   margin-top: 15%;
   margin-bottom: 5%;
}

.active {
   display: block;
}

#detail-hit{
   background-color: #078735;
  
   text-align: center;
}
 #detail-inDate{
   text-align: center;
   border-bottom: 2px solid #078735;
   border-top: 2px solid #078735;
   background-color: whitesmoke;
   color: black;
}
#detail-inHit{
   text-align: center;
   border-top: 2px solid #078735;
   border-bottom: 2px solid #078735;
   background-color: whitesmoke;
   color: black;
}

#detail-title {
   border-radius: 20px 0 0 0;
   background-color: #078735;
   border-top: 2px solid whitesmoke;
   border-left: 2px solid whitesmoke;
   border-bottom: 2px solid whitesmoke;
   
   text-align: center;
}
#detail-date{
   background-color: #078735;
   border-left: 2px solid whitesmoke;

   text-align: center;
}

#detail-inTitle {
   border-radius: 0 20px 0 0;
   text-align: center;
   border-top: 2px solid whitesmoke;
   background-color: whitesmoke;
   color: black;
}

#detail-content {
   border-radius: 0 0 0 20px;
   background-color: #078735;
   border-top: 2px solid whitesmoke;
   border-left: 2px solid whitesmoke;
   border-bottom: 2px solid whitesmoke;
   
   text-align: center;
}

#detail-inContent {
   border-radius: 0 0 20px 0;
   text-align: center;
   border-bottom: 2px solid whitesmoke;
   border-right: 2px solid whitesmoke;
   background-color: whitesmoke;
   color: black;
}

#detail-reply{
   margin-top: 150px;
   border-radius: 0 0 0 20px;
   background-color: #078735;
   border-top: 2px solid whitesmoke;

   
   text-align: center;
}

#detail-inReply{
   margin-top: 151px;
   border-radius: 0 0 20px 0 ;
   text-align: center;
   border-top: 2px solid #078735;
   background-color: whitesmoke;
   color: black;
}
#detail-inReply1{
   margin-top: -29px;
   border-radius: 0 0 20px 0 ;
   text-align: center;
   border-top: 2px solid #078735;
   background-color: whitesmoke;
   color: black;
}
/* 버튼 css */
#write_submit_delete {
   outline: none;
   cursor: pointer;
   border: none;
   padding: 0.9rem 2rem;
   /* margin: 0; */
   font-family: inherit;
   font-size: inherit;
   position: relative;
   display: inline-block;
   letter-spacing: 0.05rem;
   font-weight: 700;
   font-size: 17px;
   border-radius: 500px;
   overflow: hidden;
   background: #66ff66;
   color: ghostwhite;
   float: right;
   margin-right: 23%;
   margin-top: 2%;
}

#write_submit_delete span {
   position: relative;
   z-index: 10;
   transition: color 0.4s;
}

#write_submit_delete:hover span {
   color: black;
}

#write_submit_delete::before, #write_submit_delete::after {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 0;
}

#write_submit_delete::before {
   content: "";
   background: #000;
   width: 120%;
   left: -10%;
   transform: skew(30deg);
   transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

#write_submit_delete:hover::before {
   transform: translate3d(100%, 0, 0);
}

#write_submit_edit {
   outline: none;
   cursor: pointer;
   border: none;
   padding: 0.9rem 2rem;
   /* margin: 0; */
   font-family: inherit;
   font-size: inherit;
   position: relative;
   display: inline-block;
   letter-spacing: 0.05rem;
   font-weight: 700;
   font-size: 17px;
   border-radius: 500px;
   overflow: hidden;
   background: #66ff66;
   color: ghostwhite;
   float: right;
   margin-right: 3%;
   margin-top: 2%;
}

#write_submit_edit span {
   position: relative;
   z-index: 10;
   transition: color 0.4s;
}

#write_submit_edit:hover span {
   color: black;
}

#write_submit_edit::before, #write_submit_edit::after {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 0;
}

#write_submit_edit::before {
   content: "";
   background: #000;
   width: 120%;
   left: -10%;
   transform: skew(30deg);
   transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

#write_submit_edit:hover::before {
   transform: translate3d(100%, 0, 0);
}

/* 검색 버튼 css */
.container-input {
  position: relative;
}

.input {
  width: 150px;
  padding: 10px 0px 10px 40px;
  border-radius: 9999px;
  border: solid 1px #ffffff;
  transition: all .2s ease-in-out;
  outline: none;
  opacity: 0.8;
  float : right;
  margin-right: 20%;


}

.container-input svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.input:focus {
  opacity: 1;
  width: 250px;
}

/* 댓글 css */
#wrapper{
  height: 100vh;
}

#form-commentInfo{
  width: 100%;
}

#comment-count{
  margin-bottom: 10px; 
}

#comment-input{
  width: 38%;
  height: 2.3em;
  border-radius: 5px;
  margin-left: 32%;
  margin-top: 10px;
}

#submit{
  background-color:#078735;
  border:1px solid whitesmoke;
  border-radius: 10px;
  width: 5.5em;
  color: white;
}
/* 댓글 css */
#comments{
  margin-top: 10px;
  margin-left: 27%;
  color: white;
}



/* 위에 목록버튼 */
#list-btn{
	margin-left: 72%; 
	margin-bottom: 1%;
	 border:1px solid whitesmoke;
	  color:whitesmoke; 
	  background-color:#078735;
	   border-radius:30px;
	   width:5%;
	   text-align: center;
}
/* 댓글 수정 css */
.editBtn {
   /* border:1px solid whitesmoke; */
   /* border-radius:30px; */ 
   color: whitesmoke; 
   background-color: black;
   text-align: center;
   text-decoration: underline;
   border: none;
   float: right;
   font-size: 13px;
}

/* 댓글 삭제 css */
.deleteBtn {
   color: whitesmoke;
   background-color: black;
   text-align: center;
   text-decoration: underline;
   border: none;
   float: right;
   font-size: 13px;
}
